.jumbotron {
    background-color: #5E90DE;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #5C5C5C ;
    margin-bottom: 0px;
    margin-top: 20px;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(184, 225, 255 );
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.6);
}