$color-jumbotrom:#dff6ff;
$color-rojo: red;
$color-verde: green;
$color-amarillo: yellow;
//$color-footer: #6e6e6e;
$color-footer: rgba(117, 117, 117, 0.9);

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $color-jumbotrom;
    color: black;
    //margin-top: 50px;
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $color-footer;
    // margin-bottom: 0px;
    // margin-top: 20px;
    @include margenes(20px, 0px);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(184, 225, 255 );
}

.card-hotel {
    flex: 1 150px;
    // margin-top: 10px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.6);
}
