@color-jumbotrom:#fff200;
@color-footer: rgba(117, 117, 117, 0.9);

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @color-jumbotrom;
    color: black;
    .margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @color-footer;
    .margenes(20px, 0px);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(184, 225, 255 );
}

.card-hotel {
    flex: 1 150px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.6);
}
