.jumbotron {
  background-color: #dff6ff;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: rgba(117, 117, 117, 0.9);
  margin-top: 20px;
  margin-bottom: 0px;
  color: white; }

footer a {
  color: white; }

footer a:hover {
  color: #b8e1ff; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6); }
